<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--properties 扫描属性文件.properties  -->
    <properties resource="db.properties">
        <property name="test" value="123"/>
    </properties>

    <settings>
<!--        <setting name="cacheEnabled" value="true"/>-->
<!--        <setting name="lazyLoadingEnabled" value="true"/>-->
<!--        <setting name="multipleResultSetsEnabled" value="true"/>-->
<!--        <setting name="useColumnLabel" value="true"/>-->
<!--        <setting name="useGeneratedKeys" value="false"/>-->
<!--        <setting name="autoMappingBehavior" value="PARTIAL"/>-->
<!--        <setting name="autoMappingUnknownColumnBehavior" value="WARNING"/>-->
<!--        <setting name="defaultExecutorType" value="SIMPLE"/>-->
<!--        <setting name="defaultStatementTimeout" value="25"/>-->
<!--        <setting name="defaultFetchSize" value="100"/>-->
<!--        <setting name="safeRowBoundsEnabled" value="false"/>-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
<!--        <setting name="localCacheScope" value="STATEMENT"/>-->
<!--        <setting name="jdbcTypeForNull" value="OTHER"/>-->
<!--        <setting name="lazyLoadTriggerMethods" value="equals,clone,hashCode,toString"/>-->
<!--        <setting name="logImpl" value="STDOUT_LOGGING" />-->
    </settings>
   <!-- <plugins>
        <plugin interceptor="com.tuling.plugins.ExamplePlugin" ></plugin>
    </plugins>-->
    <environments default="development">
        <environment id="development">
           <transactionManager type="JDBC"/>
            <!--//  mybatis内置了JNDI、POOLED、UNPOOLED三种类型的数据源,其中POOLED对应的实现为org.apache.ibatis.datasource.pooled.PooledDataSource,它是mybatis自带实现的一个同步、线程安全的数据库连接池 一般在生产中,我们会使用c3p0或者druid连接池-->
            <dataSource type="POOLED">
                <property name="driver" value="${mysql.driverClass}"/>
                <property name="url" value="${mysql.jdbcUrl}"/>
                <property name="username" value="${mysql.user}"/>
                <property name="password" value="${mysql.password}"/>
            </dataSource>
        </environment>
    </environments>
    <databaseIdProvider type="DB_VENDOR">
        <property name="MySQL" value="mysql"/>
        <property name="Oracle" value="oracle"/>
    </databaseIdProvider>


    <mappers>
        <package name="com.rhy.mybatisdemo.mapper"/>
<!--        <mapper resource="mapper/UserMapper.xml"/>-->
<!--        <mapper url="D:/mapper/UserMapper.xml"/>-->
        <!-- 要求接口和mapper在同一包下 -->
<!--        <mapper class="com.rhy.mybatisdemo.mapper.UserMapper"/>-->
    </mappers>
</configuration>


